.container {
    font-family: sans-serif;
    text-align: center;
  }
  
  #word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  #word-list li {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 80px;
    cursor: pointer; 
    position: relative; 
  }
  
  .word-number {
    position: absolute; 
    top: 70%;
    left: 5px;
    font-size: 7px; 
    color: #555; 
  }
  
  .pinyin {
    display: none; 
    font-size: 14px;
    color: #555;
  }
  
  .pinyin.show {
    display: inline; 
  }
  
  #timer {
    position: fixed; 
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 18px;
  }
  
  /*  التصميم المُعدّل لحقل الإدخال  */
  input[type="number"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px; /*  مسافة بين حقل الإدخال والزر  */
    text-align: center; 
  }
  
  /*  التصميم المُعدّل لزر  "start"  */
  #startTimer {
    padding: 8px 15px;
    background-color: #eca706; /*  لون زر "start"  */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #startTimer:hover {
    background-color: #a84405; /*  لون الزر عند تمرير الماوس عليه  */
  }
  
  /*  التصميم  لزر  البينيين  */
  #showPinyin {
    padding: 4px 8px; 
    background-color: #f8f6ef; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    position: fixed; 
    right: 20px;
    top: 70px;
    display: inline-block; 
    vertical-align: top; 
    margin-left: 20px; 
    width: 80px; /*  حدد  width  للزر  */
    height: 30px; /*  حدد  height  للزر  */
  }
  
  #showPinyin:hover {
    background-color: #f2ebe6; /* لون الزر عند تمرير الماوس عليه */
  }
  
  img#showPinyin {
    width: 30px; /*  حدد العرض  */
    height: 30px; /*  حدد الارتفاع  */
    position: fixed; 
    right: 20px;
    top: 25px;
    cursor: pointer; 
  }
  
  /*  التصميم  لزر  الخلط  */
  #shuffleButton {
    padding: 4px 8px; 
    background-color: #f8f6ef; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    position: fixed; 
    right: 20px;
    top: 110px; /*  ضع الزر  تحت  زر  البينيين  */
    display: inline-block; 
    vertical-align: top; 
    margin-left: 20px; 
    width: 80px; /*  حدد  width  للزر  */
    height: 30px; /*  حدد  height  للزر  */
  }
  
  #shuffleButton:hover {
    background-color: #f2ebe6; /* لون الزر عند تمرير الماوس عليه */
  }
  
  img#shuffleButton {
    width: 30px; /*  حدد العرض  */
    height: 30px; /*  حدد الارتفاع  */
    position: fixed; 
    right: 20px;
    top: 65px; /*  ضع الزر  تحت  زر  البينيين  */
    cursor: pointer; 
  }